<div class="p-1 hidden md:block">
	<ul class="menu bg-base-200 w-56 rounded-box">
	  <li><a><%= link_to(t('Settings'), edit_setting_path(id:1) )%></a></li>
	  <li><a>Item 2</a></li>
	  <li><a>Item 3</a></li>
	</ul>
</div>