<div class="hero min-h-[40rem]" style="background-image: url(<%= @banners.first.url %>);">
  <div class="hero-overlay bg-opacity-60">
    <%= render partial: 'home/navi', locals: {opacity: false}%>
  </div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold"><%= @setting.name%></h1>
      <p class="mb-5"><%= @setting.seo_description %></p>
    </div>
  </div>
</div>

