<h2 class="w-full md:w-1/2 mx-auto font-semibold text-4xl text-center mt-8 mb-4"><%= title %></h3>
<div class="my-4 grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-12 p-8">
	<% products.each do |product| %>
		<%= render(partial: 'product_card', locals: {product: product}) %>
	<% end %>
</div>