<h3 class="font-semibold my-2"><%= t('Specification')%></h3>
<% if specs %>
	<table class="table table-zebra">
		
		<% specs.split("\n").each do |line| %>
			<% name, value = line.split(":")%>
			<tr class="border">
				<td class="border"><%= name %></td>
				<td class="border"><%= value %></td>
			</tr>
		<% end %>
		
	</table>
<% end %>
