<% content_for :navi do %>
    <%= render partial: 'home/navi', locals: {opacity: true} %>
<% end %>

<% content_for :title do %>
	<title><%= t('Search') %></title>
<% end %>

<div class="w-4/5 md:w-2/5 mx-auto my-60">
    <div class="form-control">
        <form action="<%= home_search_path%>" method="get">
            <div class="flex flex-col md:flex-row gap-4">
                <input type="text" placeholder="product name" class="input input-bordered w-full text-neutral-500" name="kw" autofocus />
                <button class="btn btn-primary" type=""><%= t('Search')%></button>
            </div>
        </form>
    </div>
</div>