<div class="my-2 w-full flex ">

	<div class="my-2 w-full md:w-3/4">
		<%= link_to t('New Product Category'), new_product_category_path, class: "btn btn-primary my-2 btn-sm" %>
		<table class="table table-md">
			<thead>
				<th>Level</th>
				<th>Sorting</th>
				<th>Name</th>
				<th>Operation</th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<% @all_categories.each do |category| %>
					<%= render_to_table(category) %>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="md:w-1/4  my-2">
		<ul class="menu w-full rounded-box bg-base-200">
			<% @product_categories.each do |category| %>
				<%= render_product_category(category) %>
			<% end %>
		</ul>
	</div>
	<%= turbo_frame_tag "display_modal" do %>
	<% end %>
	

</div>