<div class="mx-auto w-3/4">

  <%= render @product %>

  <div class="flex gap-4 my-4 justify-end">
    <%= link_to "Edit this product", edit_product_path(@product), class: "btn btn-primary" %>
    <%= button_to "Destroy this product", product_path(@product), method: :delete, class: "btn btn-danger" %>
  </div>
</div>
